
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/assets/css/index.css">
    <!-- import libraries -->
    <link rel="stylesheet" href="~/font-icons/css/all.css">
    <script src="~/font-icons/css/all.min.css"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/Controller/GuitarsController.js"></script>
    <!-- end import -->

</head>
<body ng-app="TYGYApp">
    @RenderBody()
</body>
</html>
