<div id="nav">
    @*<label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>*@
    <div class="menu row">
        <ul>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/sale-icon.png">
                    </span>
                    <label>Hot Sale</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/hat-icon.png">
                    </span>
                    <label>Giáo dục</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/box-icon.png">
                    </span>
                    <label>Cũ + Kí gửi</label>
                </a>
            </li>
            <li>
                <a id="page-guitar" href="~/Views/Guitars/Index.cshtml">
                    <span>
                        <img src="~/pictures/icon/guitar-icon.png">
                    </span>
                    <label>Guitar</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/piano-icon.png">
                    </span>
                    <label>Piano + organ</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/ukulele-icon.png">
                    </span>
                    <label>Ukulele</label>
                </a>
            </li>
            <li>
                <a href="#">

                    <span>
                        <img src="~/pictures/icon/drum-set-icon.png">
                    </span>
                    <label>Nhạc cụ khác</label>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/pictures/icon/books-icon.png">
                    </span>
                    <label>Sách| phụ kiện+</label>
                </a>
            </li>
        </ul>
    </div>
</div>
